  canvas {
    border: 1px solid black;
  }
  #scaryButton { float: right;}

  /*html, body { height: 100%; padding: 0; margin: 0; }*/

  .qp{position: absolute; padding: 1em; border: 1px solid #000; overflow-x:none; overflow-y:auto;}
  .categoriesButton {width: 50%; height: 50%; background-color: cyan; font-weight: bold;  font-size: 45}
  .topicsButton {width: 50%; height: 50%; background-color: orange; font-weight: bold;  font-size: 45}
  .resourcesButton {width: 50%; height: 50%; background-color: grey; font-weight: bold;  font-size: 45}
  .contentsButton {width: 50%; height: 50%; background-color: grey; font-weight: bold;  font-size: 45}

  #panel1{ top: 0; left: 0; right: 50%; bottom: 50%;}
  #panel2{ top: 0; left: 50%; right: 0; bottom: 50%}
  #panel3{ top: 50%; left: 0; right: 50%; bottom: 0;}
  #panel4{ top: 50%; left: 50%; right: 0; bottom: 0}
  #topics-header-area{ text-align: center;}
  #resources-header-area{ text-align: center;}
  #contents-header-area{ text-align: center;}
